body{
    font-family: 'ArnoldBocklin', sans-serif;
    background-color: #2e0606;
}

@font-face {
    font-family: 'ArnoldBocklin';
    src: url(/css/Bocklin.ttf);
}

.month{
    margin-bottom: 0;
    border: 1px solid rgb(35, 7, 7);
    background-color: #5c0c0c;
    color: rgb(212, 188, 188);
}

.month h3{
    margin: 0;
    padding: 10px;
}

.events{
    display:none;
    padding: 10px;
}

.show{
    display: block;
}

.event{
    margin: 5px 0;
    padding: 10px;
    border: 1px solid rgb(35, 7, 7);
    background-color: #781e1e;
    overflow-wrap: break-word;
}

table{
    border-collapse: collapse;
    margin: 0px 20px;

}

th{
    border: 1px solid rgb(35, 7, 7);
    margin: 0px 20px;
}

td{
    border: 1px solid rgb(35, 7, 7);
    padding: 5px;
}